<h3>Choose plot<h3/>
    <form method="post" action="/">
        <!-- <link rel="stylesheet" href="{{url_for('static',filename='colour.css')}}" /> -->
        {% for page in buttons %}
        <input type="submit" value={{page.name}} name={{page.url}}></input>
        {% endfor %}
    </form>